In [18]:
import numpy as np

import heartpy as hp
import pandas as pd
import matplotlib.pyplot as plt

In [19]:
import numpy as np

import heartpy as hp
import pandas as pd
import matplotlib.pyplot as plt
with open("files/8_1.txt","r") as file:
    d6=file.read()

In [20]:
# Your string data
# data_str = '2003.0\t2003.0\t1978.0\t1978.0\t1978.0\t1993.0\t1993.0\t1986.0\t...'

# Split the string by tabs
data_list = d6.split('\t')

# Convert each item to float, then to integer, handling any conversion errors
data_int = []
for item in data_list:
    try:
        value = float(item)  # Convert to float
        data_int.append(int(value))  # Convert to integer
    except ValueError:
        # Handle the case where the conversion fails
        print(f"Warning: Could not convert '{item}' to float and integer")

# Print the result
print(data_int)

Warning: Could not convert '' to float and integer
[2039, 2039, 2039, 2029, 2029, 2042, 2042, 2042, 2044, 2044, 2014, 2014, 2014, 2039, 2039, 2043, 2043, 2043, 2031, 2031, 2031, 2031, 2031, 2020, 2020, 2013, 2013, 2013, 2022, 2022, 2014, 2014, 2014, 2022, 2022, 2026, 2026, 2026, 2013, 2013, 2016, 2016, 2016, 2021, 2021, 2030, 2030, 2030, 2019, 2019, 2002, 2002, 2002, 2024, 2024, 2012, 2012, 2012, 2018, 2018, 2004, 2004, 2029, 2029, 2029, 2010, 2010, 2003, 2003, 2003, 2001, 2001, 2001, 2001, 2001, 1993, 1993, 1996, 1996, 1996, 2006, 2006, 2000, 2000, 2000, 1992, 1992, 2004, 2004, 2004, 2006, 2006, 1990, 1990, 1990, 2011, 2011, 1995, 1995, 1995, 2009, 2009, 1995, 1995, 1995, 1984, 1984, 1984, 1984, 1984, 1992, 1992, 1991, 1991, 1991, 1985, 1985, 1973, 1973, 1973, 1991, 1991, 1988, 1988, 1988, 1986, 1986, 1987, 1987, 1987, 1978, 1978, 1969, 1969, 1969, 1985, 1985, 1997, 1997, 1997, 1980, 1980, 1993, 1993, 1993, 1996, 1996, 1962, 1962, 1962, 1976, 1976, 1993, 1993, 1993, 1990, 1990, 1974, 1974, 1974, 1975, 1975, 1983, 1983, 1983, 1976, 1976, 1974, 1974, 1974, 1974, 1974, 1966, 1966, 1966, 1974, 1974, 1965, 1965, 1965, 1968, 1968, 1971, 1971, 1971, 1992, 1992, 1978, 1978, 1978, 1955, 1955, 1984, 1984, 1984, 1969, 1969, 1965, 1965, 1965, 1970, 1970, 1976, 1976, 1976, 1963, 1963, 1957, 1957, 1957, 1984, 1984, 1969, 1969, 1969, 1994, 1994, 1969, 1969, 1969, 1967, 1967, 1958, 1958, 1958, 1956, 1956, 1971, 1971, 1971, 1964, 1964, 1966, 1966, 1966, 1979, 1979, 1963, 1963, 1963, 1959, 1959, 1962, 1962, 1962, 1959, 1959, 1964, 1964, 1964, 1964, 1964, 1961, 1961, 1961, 1961, 1961, 1974, 1974, 1974, 1964, 1964, 1964, 1964, 1964, 1956, 1956, 1977, 1977, 1969, 1969, 1969, 1980, 1980, 1974, 1974, 1974, 1986, 1986, 1995, 1995, 1995, 1975, 1975, 1983, 1983, 1983, 1986, 1986, 1980, 1980, 1980, 1994, 1994, 2016, 2016, 2016, 2022, 2022, 2008, 2008, 2008, 2012, 2012, 2008, 2008, 2008, 2012, 2012, 2016, 2016, 2016, 2045, 2045, 2067, 2067, 2067, 2069, 2069, 2043, 2043, 2043, 2060, 2060, 2083, 2083, 2083, 2077, 2077, 2084, 2084, 2084, 2090, 2090, 2081, 2081, 2081, 2095, 2095, 2092, 2092, 2092, 2107, 2107, 2114, 2114, 2114, 2121, 2121, 2119, 2119, 2119, 2102, 2102, 2135, 2135, 2135, 2142, 2142, 2132, 2132, 2132, 2140, 2140, 2152, 2152, 2152, 2124, 2124, 2162, 2162, 2162, 2157, 2157, 2163, 2163, 2163, 2147, 2147, 2145, 2145, 2145, 2161, 2161, 2155, 2155, 2155, 2150, 2150, 2148, 2148, 2148, 2163, 2163, 2162, 2162, 2162, 2167, 2167, 2153, 2153, 2153, 2157, 2157, 2145, 2145, 2145, 2163, 2163, 2172, 2172, 2172, 2164, 2164, 2160, 2160, 2160, 2157, 2157, 2166, 2166, 2166, 2159, 2159, 2173, 2173, 2173, 2157, 2157, 2150, 2150, 2150, 2151, 2151, 2165, 2165, 2165, 2145, 2145, 2167, 2167, 2167, 2171, 2171, 2151, 2151, 2151, 2141, 2141, 2167, 2167, 2167, 2142, 2142, 2154, 2154, 2154, 2153, 2153, 2162, 2162, 2162, 2155, 2155, 2148, 2148, 2148, 2150, 2150, 2140, 2140, 2119, 2119, 2119, 2153, 2153, 2148, 2148, 2148, 2137, 2137, 2149, 2149, 2149, 2130, 2130, 2122, 2122, 2122, 2134, 2134, 2141, 2141, 2141, 2126, 2126, 2120, 2120, 2120, 2124, 2124, 2131, 2131, 2131, 2109, 2109, 2106, 2106, 2106, 2100, 2100, 2095, 2095, 2095, 2095, 2095, 2099, 2099, 2099, 2092, 2092, 2099, 2099, 2099, 2092, 2092, 2097, 2097, 2097, 2083, 2083, 2084, 2084, 2084, 2074, 2074, 2072, 2072, 2072, 2080, 2080, 2074, 2074, 2074, 2064, 2064, 2081, 2081, 2081, 2067, 2067, 2053, 2053, 2053, 2071, 2071, 2060, 2060, 2060, 2059, 2059, 2062, 2062, 2062, 2060, 2060, 2043, 2043, 2043, 2057, 2057, 2056, 2056, 2056, 2057, 2057, 2071, 2071, 2071, 2043, 2043, 2044, 2044, 2044, 2055, 2055, 2046, 2046, 2046, 2048, 2048, 2035, 2035, 2035, 2031, 2031, 2055, 2055, 2055, 2052, 2052, 2038, 2038, 2038, 2032, 2032, 2027, 2027, 2027, 2028, 2028, 2046, 2046, 2046, 2043, 2043, 2037, 2037, 2037, 2052, 2052, 2039, 2039, 2039, 2056, 2056, 2035, 2035, 2035, 2048, 2048, 2030, 2030, 2030, 2034, 2034, 2031, 2031, 2031, 2052, 2052, 2052, 2052, 2052, 2022, 2022, 2042, 2042, 2042, 2025, 2025, 2048, 2048, 2048, 2041, 2041, 2044, 2044, 2044, 2023, 2023, 2043, 2043, 2043, 2026, 2026, 2027, 2027, 2027, 2030, 2030, 2050, 2050, 2038, 2038, 2038, 2036, 2036, 2028, 2028, 2028, 2014, 2014, 2031, 2031, 2031, 2027, 2027, 2034, 2034, 2034, 2027, 2027, 2020, 2020, 2020, 2028, 2028, 2027, 2027, 2027, 2007, 2007, 2016, 2016, 2016, 1994, 1994, 2018, 2018, 2018, 2003, 2003, 2022, 2022, 2022, 2009, 2009, 2009, 2009, 2009, 2011, 2011, 2010, 2010, 2010, 2006, 2006, 2006, 2006, 2006, 1997, 1997, 2001, 2001, 2001, 2008, 2008, 2013, 2013, 2013, 2025, 2025, 1983, 1983, 1983, 2017, 2017, 1996, 1996, 1996, 1987, 1987, 1989, 1989, 1989, 1988, 1988, 1982, 1982, 1982, 1979, 1979, 1991, 1991, 1991, 1994, 1994, 1988, 1988, 1988, 2004, 2004, 2015, 2015, 2015, 1981, 1981, 1984, 1984, 1984, 1974, 1974, 2001, 2001, 2001, 1983, 1983, 1998, 1998, 1998, 2007, 2007, 1983, 1983, 1983, 1984, 1984, 1978, 1978, 1978, 1976, 1976, 1987, 1987, 1987, 1984, 1984, 1989, 1989, 1989, 1991, 1991, 1991, 1991, 1991, 1969, 1969, 1988, 1988, 1988, 1994, 1994, 1986, 1986, 1986, 1960, 1960, 1975, 1975, 1975, 1992, 1992, 1964, 1964, 1964, 1974, 1974, 1980, 1980, 1980, 1964, 1964, 1963, 1963, 1963, 1984, 1984, 1970, 1970, 1970, 1978, 1978, 1982, 1982, 1982, 1992, 1992, 1963, 1963, 1963, 2002, 2002, 1949, 1949, 1949, 1970, 1970, 1968, 1968, 1968, 1958, 1958, 1983, 1983, 1983, 1968, 1968, 1963, 1963, 1976, 1976, 1976, 1995, 1995, 1988, 1988, 1988, 1971, 1971, 1960, 1960, 1960, 1955, 1955, 1960, 1960, 1960, 1952, 1952, 1959, 1959, 1959, 1947, 1947, 1951, 1951, 1951, 1966, 1966, 1950, 1950, 1950, 1960, 1960, 1972, 1972, 1972, 1974, 1974, 1966, 1966, 1966, 1972, 1972, 1958, 1958, 1958, 1966, 1966, 1972, 1972, 1972, 1956, 1956, 1976, 1976, 1976, 1971, 1971, 1965, 1965, 1965, 1985, 1985, 1976, 1976, 1976, 1975, 1975, 1999, 1999, 1999, 1996, 1996, 1995, 1995, 1995, 1982, 1982, 1977, 1977, 1977, 2000, 2000, 1989, 1989, 1989, 1992, 1992, 2004, 2004, 2004, 2013, 2013, 2039, 2039, 2039, 2007, 2007, 2033, 2033, 2033, 2059, 2059, 2044, 2044, 2044, 2063, 2063, 2047, 2047, 2047, 2054, 2054, 2075, 2075, 2075, 2064, 2064, 2071, 2071, 2071, 2101, 2101, 2096, 2096, 2096, 2094, 2094, 2104, 2104, 2104, 2112, 2112, 2115, 2115, 2115, 2140, 2140, 2114, 2114, 2114, 2125, 2125, 2129, 2129, 2129, 2137, 2137, 2118, 2118, 2118, 2130, 2130, 2147, 2147, 2147, 2148, 2148, 2153, 2153, 2153, 2140, 2140, 2145, 2145, 2145, 2150, 2150, 2152, 2152, 2152, 2143, 2143, 2165, 2165, 2165, 2167, 2167, 2155, 2155, 2155, 2172, 2172, 2179, 2179, 2179, 2166, 2166, 2168, 2168, 2168, 2163, 2163, 2162, 2162, 2162, 2156, 2156, 2163, 2163, 2150, 2150, 2150, 2161, 2161, 2154, 2154, 2154, 2140, 2140, 2159, 2159, 2159, 2135, 2135, 2146, 2146, 2146, 2148, 2148, 2152, 2152, 2152, 2150, 2150, 2142, 2142, 2142, 2135, 2135, 2132, 2132, 2132, 2145, 2145, 2122, 2122, 2122, 2137, 2137, 2147, 2147, 2147, 2126, 2126, 2119, 2119, 2119, 2129, 2129, 2145, 2145, 2145, 2117, 2117, 2131, 2131, 2131, 2119, 2119, 2112, 2112, 2112, 2125, 2125, 2104, 2104, 2104, 2129, 2129, 2130, 2130, 2130, 2121, 2121, 2098, 2098, 2098, 2107, 2107, 2092, 2092, 2092, 2094, 2094, 2096, 2096, 2096, 2076, 2076, 2084, 2084, 2084, 2089, 2089, 2095, 2095, 2095, 2098, 2098, 2070, 2070, 2070, 2082, 2082, 2058, 2058, 2058, 2066, 2066, 2077, 2077, 2077, 2051, 2051, 2068, 2068, 2068, 2072, 2072, 2047, 2047, 2047, 2039, 2039, 2044, 2044, 2044, 2038, 2038, 2048, 2048, 2048, 2037, 2037, 2053, 2053, 2053, 2046, 2046, 2039, 2039, 2039, 2032, 2032, 2028, 2028, 2028, 2019, 2019, 2028, 2028, 2028, 2020, 2020, 2031, 2031, 2031, 2011, 2011, 2032, 2032, 2032, 2024, 2024, 2038, 2038, 2038, 2004, 2004, 2007, 2007, 2007, 2039, 2039, 2028, 2028, 2028, 2052, 2052, 2035, 2035, 2035, 2015, 2015, 2013, 2013, 2013, 2031, 2031, 2021, 2021, 2021, 2013, 2013, 2026, 2026, 2026, 2030, 2030, 2007, 2007, 2007, 2000, 2000, 2026, 2026, 2029, 2029, 2029, 2034, 2034, 2029, 2029, 2029, 2018, 2018, 2015, 2015, 2015, 2034, 2034, 2038, 2038, 2038, 2010, 2010, 2020, 2020, 2020, 2017, 2017, 2023, 2023, 2023, 2004, 2004, 2016, 2016, 2016, 2022, 2022, 2013, 2013, 2013, 1997, 1997, 2000, 2000, 2000, 2003, 2003, 2011, 2011, 2011, 2007, 2007, 2021, 2021, 2021, 2020, 2020, 1985, 1985, 1985, 1999, 1999, 1993, 1993, 1993, 1999, 1999, 1987, 1987, 1987, 1974, 1974, 1997, 1997, 1997, 1997, 1997, 1989, 1989, 1989, 1994, 1994, 2004, 2004, 2004, 1995, 1995, 1995, 1995, 1995, 1988, 1988, 1996, 1996, 1996, 2005, 2005, 1994, 1994, 1994, 2004, 2004, 1980, 1980, 1980, 1987, 1987, 2003, 2003, 2003, 1973, 1973, 1992, 1992, 1992, 1989, 1989, 1965, 1965, 1965, 1969, 1969, 1972, 1972, 1972, 1972, 1972, 1978, 1978, 1978, 1983, 1983, 1962, 1962, 1962, 1967, 1967, 1965, 1965, 1965, 1974, 1974, 1982, 1982, 1982, 1993, 1993, 1987, 1987, 1987, 1987, 1987, 1980, 1980, 1980, 1979, 1979, 1963, 1963, 1963, 1960, 1960, 1969, 1969, 1969, 1982, 1982, 1976, 1976, 1976, 1959, 1959, 1957, 1957, 1957, 1959, 1959, 1945, 1945, 1945, 1965, 1965, 1949, 1949, 1949, 1970, 1970, 1971, 1971, 1971, 1967, 1967, 1980, 1980, 1980, 1964, 1964, 1964, 1964, 1964, 1990, 1990, 1960, 1960, 1967, 1967, 1967, 1955, 1955, 1961, 1961, 1961, 1969, 1969, 1954, 1954, 1954, 1957, 1957, 1951, 1951, 1951, 1984, 1984, 1968, 1968, 1968, 1959, 1959, 1963, 1963, 1963, 1965, 1965, 1968, 1968, 1968, 1967, 1967, 1949, 1949, 1949, 1945, 1945, 1946, 1946, 1946, 1968, 1968, 1966, 1966, 1966, 1949, 1949, 1943, 1943, 1943, 1948, 1948, 1961, 1961, 1961, 1955, 1955, 1950, 1950, 1950, 1948, 1948, 1975, 1975, 1975, 1959, 1959, 1958, 1958, 1958, 1959, 1959, 1952, 1952, 1952, 1969, 1969, 1945, 1945, 1945, 1972, 1972, 1949, 1949, 1949, 1952, 1952, 1942, 1942, 1942, 1942, 1942, 1949, 1949, 1949, 1939, 1939, 1948, 1948, 1948, 1961, 1961, 1954, 1954, 1954, 1962, 1962, 1977, 1977, 1977, 1966, 1966, 1953, 1953, 1953, 1961, 1961, 1958, 1958, 1958, 1973, 1973, 1948, 1948, 1948, 1957, 1957, 1963, 1963, 1963, 1947, 1947, 1955, 1955, 1955, 1977, 1977, 1975, 1975, 1975, 1966, 1966, 1969, 1969, 1969, 1953, 1953, 1998, 1998, 1998, 1978, 1978, 1959, 1959, 1959, 1973, 1973, 1994, 1994, 1994, 1979, 1979, 2004, 2004, 2004, 1988, 1988, 2015, 2015, 2015, 2000, 2000, 2017, 2017, 2017, 2027, 2027, 2026, 2026, 2026, 2035, 2035, 2048, 2048, 2048, 2040, 2040, 2048, 2048, 2048, 2046, 2046, 2056, 2056, 2056, 2053, 2053, 2089, 2089, 2084, 2084, 2084, 2094, 2094, 2082, 2082, 2082, 2101, 2101, 2079, 2079, 2079, 2111, 2111, 2107, 2107, 2107, 2097, 2097, 2117, 2117, 2117, 2124, 2124, 2130, 2130, 2130, 2122, 2122, 2129, 2129, 2129, 2129, 2129, 2139, 2139, 2139, 2133, 2133, 2129, 2129, 2129, 2126, 2126, 2126, 2126, 2126, 2123, 2123, 2138, 2138, 2138, 2134, 2134, 2148, 2148, 2148, 2128, 2128, 2134, 2134, 2134, 2132, 2132, 2149, 2149, 2149, 2141, 2141, 2146, 2146, 2146, 2144, 2144, 2146, 2146, 2146, 2151, 2151, 2164, 2164, 2164, 2135, 2135, 2131, 2131, 2131, 2139, 2139, 2134, 2134, 2134, 2139, 2139, 2136, 2136, 2136, 2115, 2115, 2139, 2139, 2139, 2126, 2126, 2123, 2123, 2123, 2120, 2120, 2126, 2126, 2126, 2127, 2127, 2125, 2125, 2125, 2142, 2142, 2127, 2127, 2127, 2125, 2125, 2106, 2106, 2106, 2132, 2132, 2119, 2119, 2119, 2117, 2117, 2121, 2121, 2121, 2103, 2103, 2104, 2104, 2104, 2111, 2111, 2106, 2106, 2106, 2086, 2086, 2095, 2095, 2095, 2094, 2094, 2096, 2096, 2096, 2089, 2089, 2100, 2100, 2100, 2097, 2097, 2070, 2070, 2070, 2080, 2080, 2065, 2065, 2065, 2068, 2068, 2093, 2093, 2093, 2074, 2074, 2062, 2062, 2062, 2080, 2080, 2060, 2060, 2060, 2051, 2051, 2058, 2058, 2058, 2051, 2051, 2037, 2037, 2037, 2047, 2047, 2059, 2059, 2059, 2051, 2051, 2044, 2044, 2054, 2054, 2054, 2047, 2047, 2038, 2038, 2038, 2035, 2035, 2031, 2031, 2031, 2024, 2024, 2026, 2026, 2026, 2036, 2036, 2022, 2022, 2022, 2033, 2033, 2022, 2022, 2022, 2032, 2032, 2030, 2030, 2030, 2031, 2031, 2017, 2017, 2017, 2038, 2038, 2023, 2023, 2023, 2005, 2005, 2012, 2012, 2012, 2008, 2008, 2027, 2027, 2027, 2014, 2014, 2036, 2036, 2036, 2008, 2008, 2027, 2027, 2027, 2020, 2020, 2007, 2007, 2007, 2018, 2018, 2019, 2019, 2019, 2032, 2032, 2016, 2016, 2016, 2010, 2010, 1995, 1995, 1995, 2010, 2010, 2004, 2004, 2004, 2012, 2012, 2022, 2022, 2022, 2011, 2011, 1993, 1993, 1993, 2014, 2014, 2018, 2018, 2018, 2014, 2014, 2006, 2006, 2006, 1994, 1994, 2015, 2015, 2015, 2008, 2008, 1985, 1985, 1985, 2002, 2002, 2010, 2010, 2010, 2003, 2003, 1998, 1998, 1998, 1990, 1990, 1999, 1999, 1999, 1989, 1989, 1979, 1979, 1979, 1995, 1995, 1970, 1970, 1970, 1996, 1996, 1964, 1964, 1964, 2003, 2003, 1968, 1968, 1968, 1990, 1990, 2003, 2003, 2003, 1996, 1996, 1965, 1965, 1965, 1995, 1995, 1979, 1979, 1979, 1990, 1990, 1980, 1980, 1980, 1971, 1971, 1967, 1967, 1967, 1969, 1969, 1964, 1964, 1964, 1989, 1989, 1992, 1992, 1992, 1966, 1966, 1985, 1985, 1985, 1984, 1984, 1995, 1995, 1995, 1972, 1972]

In [21]:
import numpy as np


# Compute Mean
mean_value = np.mean(data_int)

# Compute Standard Deviation
std_dev = np.std(data_int)

print("Mean:", mean_value)
print("Standard Deviation:", std_dev)


##
# Compute Peak-to-Peak Interval
peak_to_peak = np.max(data_int) - np.min(data_int)

print("Peak-to-Peak Interval:", peak_to_peak)
##

# Compute RMS
rms_value = np.sqrt(np.mean(np.square(data_int)))

print("RMS:", rms_value)


## 

from scipy.stats import entropy

# Compute Histogram
hist, bin_edges = np.histogram(data_int, bins='auto')

# Compute Entropy
entropy_value = entropy(hist)

print("Entropy:", entropy_value)


###

from scipy.signal import find_peaks

# Find Peaks
peaks, _ = find_peaks(data_int)

# Number of Peaks
num_peaks = len(peaks)

print("Number of Peaks:", num_peaks)


## 
from scipy.stats import skew, kurtosis

# Compute Skewness
skewness = skew(data_int)

# Compute Kurtosis
kurtosis_value = kurtosis(data_int)

print("Skewness:", skewness)
print("Kurtosis:", kurtosis_value)
result={
    "Mean:": mean_value,
"Standard Deviation:" :std_dev,
"Peak-to-Peak Interval:": peak_to_peak,
"RMS:": rms_value,

"Entropy:": entropy_value,
"Number of Peaks:": num_peaks,
"Skewness:": skewness,
"Kurtosis:": kurtosis_value,
}

Mean: 2035.307619047619
Standard Deviation: 64.88668980136592
Peak-to-Peak Interval: 240
RMS: 2036.3416674680766
Entropy: 2.5799427708664946
Number of Peaks: 269
Skewness: 0.60281708607389
Kurtosis: -0.902085408917658

In [22]:
result

{'Mean:': np.float64(2035.307619047619),
 'Standard Deviation:': np.float64(64.88668980136592),
 'Peak-to-Peak Interval:': np.int64(240),
 'RMS:': np.float64(2036.3416674680766),
 'Entropy:': np.float64(2.5799427708664946),
 'Number of Peaks:': 269,
 'Skewness:': np.float64(0.60281708607389),
 'Kurtosis:': np.float64(-0.902085408917658)}

In [23]:
df=pd.DataFrame([result])

In [33]:
import os
import numpy as np
import pandas as pd
from scipy.stats import entropy, skew, kurtosis
from scipy.signal import find_peaks

# Initialize the DataFrame
df = pd.DataFrame(columns=["Mean", "Standard Deviation", "Peak-to-Peak Interval", "RMS", "Entropy", "Number of Peaks", "Skewness", "Kurtosis"])

base_dir = 'files/'  # Replace with the actual directory path where your files are stored

for i in range(1, 420):  # Loop from 1 to 219 (inclusive)
    filename = f'{i}_1.txt'  # Adjust the filename pattern as per your actual file names
    filepath = os.path.join(base_dir, filename)
    
    # Check if the file exists before attempting to read it
    if os.path.exists(filepath):
        # Load file content and convert it to a numpy array
        file_content = np.loadtxt(filepath)  # Assuming the file content is numeric
        
        # Compute Mean
        mean_value = np.mean(file_content)
        
        # Compute Standard Deviation
        std_dev = np.std(file_content)
        
        # Compute Peak-to-Peak Interval
        peak_to_peak = np.max(file_content) - np.min(file_content)
        
        # Compute RMS
        rms_value = np.sqrt(np.mean(np.square(file_content)))
        
        # Compute Histogram
        hist, bin_edges = np.histogram(file_content, bins='auto')
        
        # Compute Entropy
        entropy_value = entropy(hist)
        
        # Find Peaks
        peaks, _ = find_peaks(file_content)
        
        # Number of Peaks
        num_peaks = len(peaks)
        
        # Compute Skewness
        skewness = skew(file_content)
        
        # Compute Kurtosis
        kurtosis_value = kurtosis(file_content)
        
        # Append results to DataFrame
        result = {
            "Mean": mean_value,
            "Standard Deviation": std_dev,
            "Peak-to-Peak Interval": peak_to_peak,
            "RMS": rms_value,
            "Entropy": entropy_value,
            "Number of Peaks": num_peaks,
            "Skewness": skewness,
            "Kurtosis": kurtosis_value
        }
        
        df = df._append(result, ignore_index=True)
                
    else:
        print(f"File '{filename}' not found.")

# Optionally save the DataFrame to a CSV file
df.to_csv('results.csv', index=False)

File '1_1.txt' not found.
File '4_1.txt' not found.
File '5_1.txt' not found.
File '7_1.txt' not found.
File '20_1.txt' not found.
File '28_1.txt' not found.
File '33_1.txt' not found.
File '36_1.txt' not found.
File '37_1.txt' not found.
File '39_1.txt' not found.
File '42_1.txt' not found.
File '44_1.txt' not found.
File '46_1.txt' not found.
File '49_1.txt' not found.
File '59_1.txt' not found.
File '68_1.txt' not found.
File '69_1.txt' not found.
File '70_1.txt' not found.
File '71_1.txt' not found.
File '72_1.txt' not found.
File '73_1.txt' not found.

C:\Users\Mahmoud\AppData\Local\Temp\ipykernel_23484\2437466120.py:63: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = df._append(result, ignore_index=True)

File '74_1.txt' not found.
File '75_1.txt' not found.
File '76_1.txt' not found.
File '77_1.txt' not found.
File '78_1.txt' not found.
File '79_1.txt' not found.
File '80_1.txt' not found.
File '81_1.txt' not found.
File '82_1.txt' not found.
File '94_1.txt' not found.
File '101_1.txt' not found.
File '102_1.txt' not found.
File '109_1.txt' not found.
File '117_1.txt' not found.
File '118_1.txt' not found.
File '121_1.txt' not found.
File '129_1.txt' not found.
File '132_1.txt' not found.
File '133_1.txt' not found.
File '143_1.txt' not found.
File '147_1.txt' not found.
File '159_1.txt' not found.
File '168_1.txt' not found.
File '177_1.txt' not found.
File '181_1.txt' not found.
File '187_1.txt' not found.
File '194_1.txt' not found.
File '202_1.txt' not found.
File '204_1.txt' not found.
File '225_1.txt' not found.
File '236_1.txt' not found.
File '238_1.txt' not found.
File '249_1.txt' not found.
File '255_1.txt' not found.
File '258_1.txt' not found.
File '260_1.txt' not found.
File '261_1.txt' not found.
File '262_1.txt' not found.
File '263_1.txt' not found.
File '264_1.txt' not found.
File '265_1.txt' not found.
File '266_1.txt' not found.
File '267_1.txt' not found.
File '268_1.txt' not found.
File '269_1.txt' not found.
File '270_1.txt' not found.
File '271_1.txt' not found.
File '272_1.txt' not found.
File '273_1.txt' not found.
File '274_1.txt' not found.
File '275_1.txt' not found.
File '276_1.txt' not found.
File '277_1.txt' not found.
File '278_1.txt' not found.
File '279_1.txt' not found.
File '280_1.txt' not found.
File '281_1.txt' not found.
File '282_1.txt' not found.
File '283_1.txt' not found.
File '284_1.txt' not found.
File '285_1.txt' not found.
File '286_1.txt' not found.
File '287_1.txt' not found.
File '288_1.txt' not found.
File '289_1.txt' not found.
File '290_1.txt' not found.
File '291_1.txt' not found.
File '292_1.txt' not found.
File '293_1.txt' not found.
File '294_1.txt' not found.
File '295_1.txt' not found.
File '296_1.txt' not found.
File '297_1.txt' not found.
File '298_1.txt' not found.
File '299_1.txt' not found.
File '300_1.txt' not found.
File '301_1.txt' not found.
File '302_1.txt' not found.
File '303_1.txt' not found.
File '304_1.txt' not found.
File '305_1.txt' not found.
File '306_1.txt' not found.
File '307_1.txt' not found.
File '308_1.txt' not found.
File '309_1.txt' not found.
File '310_1.txt' not found.
File '311_1.txt' not found.
File '312_1.txt' not found.
File '313_1.txt' not found.
File '314_1.txt' not found.
File '315_1.txt' not found.
File '316_1.txt' not found.
File '317_1.txt' not found.
File '318_1.txt' not found.
File '319_1.txt' not found.
File '320_1.txt' not found.
File '321_1.txt' not found.
File '322_1.txt' not found.
File '323_1.txt' not found.
File '324_1.txt' not found.
File '325_1.txt' not found.
File '326_1.txt' not found.
File '327_1.txt' not found.
File '328_1.txt' not found.
File '329_1.txt' not found.
File '330_1.txt' not found.
File '331_1.txt' not found.
File '332_1.txt' not found.
File '333_1.txt' not found.
File '334_1.txt' not found.
File '335_1.txt' not found.
File '336_1.txt' not found.
File '337_1.txt' not found.
File '338_1.txt' not found.
File '339_1.txt' not found.
File '340_1.txt' not found.
File '341_1.txt' not found.
File '342_1.txt' not found.
File '343_1.txt' not found.
File '344_1.txt' not found.
File '345_1.txt' not found.
File '346_1.txt' not found.
File '347_1.txt' not found.
File '348_1.txt' not found.
File '349_1.txt' not found.
File '350_1.txt' not found.
File '351_1.txt' not found.
File '352_1.txt' not found.
File '353_1.txt' not found.
File '354_1.txt' not found.
File '355_1.txt' not found.
File '356_1.txt' not found.
File '357_1.txt' not found.
File '358_1.txt' not found.
File '359_1.txt' not found.
File '360_1.txt' not found.
File '361_1.txt' not found.
File '362_1.txt' not found.
File '363_1.txt' not found.
File '364_1.txt' not found.
File '365_1.txt' not found.
File '366_1.txt' not found.
File '367_1.txt' not found.
File '368_1.txt' not found.
File '369_1.txt' not found.
File '370_1.txt' not found.
File '371_1.txt' not found.
File '372_1.txt' not found.
File '373_1.txt' not found.
File '374_1.txt' not found.
File '375_1.txt' not found.
File '376_1.txt' not found.
File '377_1.txt' not found.
File '378_1.txt' not found.
File '379_1.txt' not found.
File '380_1.txt' not found.
File '381_1.txt' not found.
File '382_1.txt' not found.
File '383_1.txt' not found.
File '384_1.txt' not found.
File '385_1.txt' not found.
File '386_1.txt' not found.
File '387_1.txt' not found.
File '388_1.txt' not found.
File '389_1.txt' not found.
File '390_1.txt' not found.
File '391_1.txt' not found.
File '392_1.txt' not found.
File '393_1.txt' not found.
File '394_1.txt' not found.
File '395_1.txt' not found.
File '396_1.txt' not found.
File '397_1.txt' not found.
File '398_1.txt' not found.
File '399_1.txt' not found.
File '400_1.txt' not found.
File '401_1.txt' not found.
File '402_1.txt' not found.
File '408_1.txt' not found.

In [34]:
final=pd.read_csv("results.csv")

In [35]:
final

,Mean,Standard Deviation,Peak-to-Peak Interval,RMS,Entropy,Number of Peaks,Skewness,Kurtosis
0,2036.919048,252.480802,905.0,2052.507189,2.599049,272.0,0.614909,-0.852316
1,2004.390476,54.930847,229.0,2005.143032,2.544793,275.0,0.542265,-0.989512
2,1981.785714,55.313314,240.0,1982.557485,2.780230,273.0,0.058724,-0.934093
3,2035.307619,64.886690,240.0,2036.341667,2.579943,269.0,0.602817,-0.902085
4,2021.003333,48.010222,199.0,2021.573510,2.740641,279.0,0.177446,-1.019404
...,...,...,...,...,...,...,...,...
214,2637.847619,340.154648,1276.0,2659.688938,2.609672,649.0,0.787039,-0.381697
215,2549.885714,619.264065,2261.0,2624.005552,2.582117,666.0,0.604512,-0.852276
216,2770.956190,320.858560,1232.0,2789.470994,2.653982,674.0,0.851054,-0.335141
217,2610.076667,245.508367,901.0,2621.597712,2.551276,668.0,0.752761,-0.630193
218,2606.378095,247.608558,964.0,2618.113209,2.711196,666.0,0.805016,-0.430874

In [36]:
data_set= pd.read_csv("PPG-BP dataset.csv")

In [40]:
data_set=data_set.drop(0)

In [41]:
data_set

,Cardiovascular Dataset Information File,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Hospital Electronic Medical Record,Unnamed: 11,Unnamed: 12,Unnamed: 13
1,1,2,Female,45,152,63,161,89,97,27.27,Stage 2 hypertension,NaN,NaN,NaN
2,2,3,Female,50,157,50,160,93,76,20.28,Stage 2 hypertension,NaN,NaN,NaN
3,3,6,Female,47,150,47,101,71,79,20.89,Normal,NaN,NaN,NaN
4,4,8,Male,45,172,65,136,93,87,21.97,Prehypertension,NaN,NaN,NaN
5,5,9,Female,46,155,65,123,73,73,27.06,Prehypertension,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,215,415,Male,24,180,70,111,70,77,21.60,Normal,NaN,NaN,NaN
216,216,416,Female,25,156,47,93,57,79,19.31,Normal,NaN,NaN,NaN
217,217,417,Male,25,176,55,120,69,72,17.76,Prehypertension,NaN,NaN,NaN
218,218,418,Male,25,173,63,106,69,67,21.05,Normal,NaN,NaN,NaN
219,219,419,Male,24,175,58,108,68,65,18.94,Normal,NaN,NaN,NaN

In [42]:
data_set[final.columns]=final.values

In [44]:
data_set

,Cardiovascular Dataset Information File,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Mean,Standard Deviation,Peak-to-Peak Interval,RMS,Entropy,Number of Peaks,Skewness,Kurtosis
1,1,2,Female,45,152,63,161,89,97,27.27,...,NaN,NaN,2036.919048,252.480802,905.0,2052.507189,2.599049,272.0,0.614909,-0.852316
2,2,3,Female,50,157,50,160,93,76,20.28,...,NaN,NaN,2004.390476,54.930847,229.0,2005.143032,2.544793,275.0,0.542265,-0.989512
3,3,6,Female,47,150,47,101,71,79,20.89,...,NaN,NaN,1981.785714,55.313314,240.0,1982.557485,2.780230,273.0,0.058724,-0.934093
4,4,8,Male,45,172,65,136,93,87,21.97,...,NaN,NaN,2035.307619,64.886690,240.0,2036.341667,2.579943,269.0,0.602817,-0.902085
5,5,9,Female,46,155,65,123,73,73,27.06,...,NaN,NaN,2021.003333,48.010222,199.0,2021.573510,2.740641,279.0,0.177446,-1.019404
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,215,415,Male,24,180,70,111,70,77,21.60,...,NaN,NaN,2637.847619,340.154648,1276.0,2659.688938,2.609672,649.0,0.787039,-0.381697
216,216,416,Female,25,156,47,93,57,79,19.31,...,NaN,NaN,2549.885714,619.264065,2261.0,2624.005552,2.582117,666.0,0.604512,-0.852276
217,217,417,Male,25,176,55,120,69,72,17.76,...,NaN,NaN,2770.956190,320.858560,1232.0,2789.470994,2.653982,674.0,0.851054,-0.335141
218,218,418,Male,25,173,63,106,69,67,21.05,...,NaN,NaN,2610.076667,245.508367,901.0,2621.597712,2.551276,668.0,0.752761,-0.630193
219,219,419,Male,24,175,58,108,68,65,18.94,...,NaN,NaN,2606.378095,247.608558,964.0,2618.113209,2.711196,666.0,0.805016,-0.430874

In [37]:
data_set

,Cardiovascular Dataset Information File,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Hospital Electronic Medical Record,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,Num.,subject_ID,Sex(M/F),Age(year),Height(cm),Weight(kg),Systolic Blood Pressure(mmHg),Diastolic Blood Pressure(mmHg),Heart Rate(b/m),BMI(kg/m^2),Hypertension,Diabetes,cerebral infarction,cerebrovascular disease
1,1,2,Female,45,152,63,161,89,97,27.27,Stage 2 hypertension,NaN,NaN,NaN
2,2,3,Female,50,157,50,160,93,76,20.28,Stage 2 hypertension,NaN,NaN,NaN
3,3,6,Female,47,150,47,101,71,79,20.89,Normal,NaN,NaN,NaN
4,4,8,Male,45,172,65,136,93,87,21.97,Prehypertension,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,215,415,Male,24,180,70,111,70,77,21.60,Normal,NaN,NaN,NaN
216,216,416,Female,25,156,47,93,57,79,19.31,Normal,NaN,NaN,NaN
217,217,417,Male,25,176,55,120,69,72,17.76,Prehypertension,NaN,NaN,NaN
218,218,418,Male,25,173,63,106,69,67,21.05,Normal,NaN,NaN,NaN
219,219,419,Male,24,175,58,108,68,65,18.94,Normal,NaN,NaN,NaN

In [46]:
data_set.to_csv('final_PPG.csv', index=False)

In [47]:
data_set.rename(columns={"Unnamed: 2":"Sex(M/F)","Unnamed: 3":"Age(year)","Unnamed: 4":"Height(cm)","Unnamed: 5":"Weight(kg)","Unnamed: 6":"Systolic Blood Pressure(mmHg)","Unnamed: 7":"Diastolic Blood Pressure(mmHg)","Unnamed: 8":"Heart Rate(b/m)","Unnamed: 9":"BMI(kg/m^2)"}, inplace=True)

In [48]:
data_set

,Cardiovascular Dataset Information File,Unnamed: 1,Sex(M/F),Age(year),Height(cm),Weight(kg),Systolic Blood Pressure(mmHg),Diastolic Blood Pressure(mmHg),Heart Rate(b/m),BMI(kg/m^2),...,Unnamed: 12,Unnamed: 13,Mean,Standard Deviation,Peak-to-Peak Interval,RMS,Entropy,Number of Peaks,Skewness,Kurtosis
1,1,2,Female,45,152,63,161,89,97,27.27,...,NaN,NaN,2036.919048,252.480802,905.0,2052.507189,2.599049,272.0,0.614909,-0.852316
2,2,3,Female,50,157,50,160,93,76,20.28,...,NaN,NaN,2004.390476,54.930847,229.0,2005.143032,2.544793,275.0,0.542265,-0.989512
3,3,6,Female,47,150,47,101,71,79,20.89,...,NaN,NaN,1981.785714,55.313314,240.0,1982.557485,2.780230,273.0,0.058724,-0.934093
4,4,8,Male,45,172,65,136,93,87,21.97,...,NaN,NaN,2035.307619,64.886690,240.0,2036.341667,2.579943,269.0,0.602817,-0.902085
5,5,9,Female,46,155,65,123,73,73,27.06,...,NaN,NaN,2021.003333,48.010222,199.0,2021.573510,2.740641,279.0,0.177446,-1.019404
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,215,415,Male,24,180,70,111,70,77,21.60,...,NaN,NaN,2637.847619,340.154648,1276.0,2659.688938,2.609672,649.0,0.787039,-0.381697
216,216,416,Female,25,156,47,93,57,79,19.31,...,NaN,NaN,2549.885714,619.264065,2261.0,2624.005552,2.582117,666.0,0.604512,-0.852276
217,217,417,Male,25,176,55,120,69,72,17.76,...,NaN,NaN,2770.956190,320.858560,1232.0,2789.470994,2.653982,674.0,0.851054,-0.335141
218,218,418,Male,25,173,63,106,69,67,21.05,...,NaN,NaN,2610.076667,245.508367,901.0,2621.597712,2.551276,668.0,0.752761,-0.630193
219,219,419,Male,24,175,58,108,68,65,18.94,...,NaN,NaN,2606.378095,247.608558,964.0,2618.113209,2.711196,666.0,0.805016,-0.430874

In [49]:
data_set.drop(["Cardiovascular Dataset Information File","Unnamed: 1"],axis=1,inplace=True)

In [50]:
data_set

,Sex(M/F),Age(year),Height(cm),Weight(kg),Systolic Blood Pressure(mmHg),Diastolic Blood Pressure(mmHg),Heart Rate(b/m),BMI(kg/m^2),Hospital Electronic Medical Record,Unnamed: 11,Unnamed: 12,Unnamed: 13,Mean,Standard Deviation,Peak-to-Peak Interval,RMS,Entropy,Number of Peaks,Skewness,Kurtosis
1,Female,45,152,63,161,89,97,27.27,Stage 2 hypertension,NaN,NaN,NaN,2036.919048,252.480802,905.0,2052.507189,2.599049,272.0,0.614909,-0.852316
2,Female,50,157,50,160,93,76,20.28,Stage 2 hypertension,NaN,NaN,NaN,2004.390476,54.930847,229.0,2005.143032,2.544793,275.0,0.542265,-0.989512
3,Female,47,150,47,101,71,79,20.89,Normal,NaN,NaN,NaN,1981.785714,55.313314,240.0,1982.557485,2.780230,273.0,0.058724,-0.934093
4,Male,45,172,65,136,93,87,21.97,Prehypertension,NaN,NaN,NaN,2035.307619,64.886690,240.0,2036.341667,2.579943,269.0,0.602817,-0.902085
5,Female,46,155,65,123,73,73,27.06,Prehypertension,NaN,NaN,NaN,2021.003333,48.010222,199.0,2021.573510,2.740641,279.0,0.177446,-1.019404
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,Male,24,180,70,111,70,77,21.60,Normal,NaN,NaN,NaN,2637.847619,340.154648,1276.0,2659.688938,2.609672,649.0,0.787039,-0.381697
216,Female,25,156,47,93,57,79,19.31,Normal,NaN,NaN,NaN,2549.885714,619.264065,2261.0,2624.005552,2.582117,666.0,0.604512,-0.852276
217,Male,25,176,55,120,69,72,17.76,Prehypertension,NaN,NaN,NaN,2770.956190,320.858560,1232.0,2789.470994,2.653982,674.0,0.851054,-0.335141
218,Male,25,173,63,106,69,67,21.05,Normal,NaN,NaN,NaN,2610.076667,245.508367,901.0,2621.597712,2.551276,668.0,0.752761,-0.630193
219,Male,24,175,58,108,68,65,18.94,Normal,NaN,NaN,NaN,2606.378095,247.608558,964.0,2618.113209,2.711196,666.0,0.805016,-0.430874

In [51]:
data_set.to_csv('final_PPG.csv', index=False)